<!--br da se zamene marginama i da se login sredi i registracija isto
i da se stavi cela forma u neki okvir-->
  <br>
  <form>
    <p id="bold">Prijava:</p>
    <div class="form-group">
      <input class="form-control" type="text" [(ngModel)]="k.username" name="username" placeholder="Korisnicko ime">
    </div>
    <div class="form-group">
      <input class="form-control" type="password" [(ngModel)]="k.password" name="password" placeholder="Lozinka">
    </div>
  </form>
  <br>
  <button type="button" class="btn btn-danger" (click)="prijava()">Prijava</button>
  <br/>
  <br/>
  <p> Niste registrovani? 
    <a [routerLink]="['/pocetna-stranica', {outlets: {p:'reg'}}]"> Registracija </a>
  </p> 

   <!--<table class="table table-striped">
          <thead>
              <th>Id</th>
              <th>Korisnicko ime</th>
              <th>Lozinka</th>
              <th>Operacija </th>
          </thead>
          <tbody>
              <tr *ngFor="let korisnik of korisnici">
                  <td>{{korisnik.id}}</td>
                  <td>{{korisnik.username}}</td>
                  <td>{{korisnik.password}}</td>
                  <td><button class="btn btn-danger">Delete</button>
                      <button class="btn btn-primary">Edit</button></td>
              </tr>
          </tbody>
      </table>
      <button class="btn btn-primary">New User</button>-->
