<div id="card" class="card">
  <div class="card-body">
    <br>
    <form>
      <p id="bold">Prijava:</p>
      <div class="form-group">
        <input class="form-control" type="text" [(ngModel)]="korisnik.username" name="username" placeholder="Korisnicko ime">
      </div>
      <div class="form-group">
        <input class="form-control" type="password" [(ngModel)]="korisnik.password" name="password" placeholder="Lozinka">
      </div>
    </form>
    <br>
    <button type="button" class="btn btn-danger" (click)="login()">Prijava</button>
    <br>
    <br>
    <p> Niste registrovani?
      <a [routerLink]="['/pocetna-stranica', {outlets: {p:'reg'}}]"> Registracija </a>
    </p>
  </div>
</div>