<div class="container-fluid">

  <br>

  <h5>Let</h5>

  <br>

  <div class="row">

    <div class="col-6">

      <table class="table table-striped table-hover table-bordered">
        <tbody>
          <tr>
            <th>Mesto poletanja</th>
            <td>{{l.mestoPoletanja}}</td>
          </tr>
          <tr>
            <th>Datum poletanja</th>
            <td>{{l.datumPoletanja}}</td>
          </tr>
          <tr>
            <th>Vreme poletanja</th>
            <td>{{l.vremePoletanja}}</td>
          </tr>
          <tr>
            <th>Mesto sletanja</th>
            <td>{{l.mestoSletanja}}</td>
          </tr>
          <tr>
            <th>Datum sletanja</th>
            <td>{{l.datumSletanja}}</td>
          </tr>
          <tr>
            <th>Vreme sletanja</th>
            <td>{{l.vremeSletanja}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-6">
      <table class="table table-striped table-hover table-bordered">
        <tbody>
          <tr>
            <th>Vreme putovanja</th>
            <td>{{l.vremePutovanja}}</td>
          </tr>
          <tr>
            <th>Duzina putovanja</th>
            <td>{{l.duzinaPutovanja}}</td>
          </tr>
          <tr>
            <th>Broj presedanja</th>
            <td>{{l.brojPresedanja}}</td>
          </tr>
          <tr>
            <th>Lokacije presedanja</th>
            <td>{{l.lokacijePresedanja}}</td>
          </tr>
          <tr>
            <th>Cena karte</th>
            <td>{{l.cenaKarte}}</td>
          </tr>
          <tr>
            <th>Aviokompanija</th>
            <td>{{l.aviokompanija}}</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>

  <br>

  <button type="button" class="btn btn-dark" (click)="back()">Nazad</button>

</div>