<div class="container-fluid">

  <br>

  <h5>Aviokompanija</h5>

  <br>

  <div class="row">

    <div class="col-6">

      <table class="table table-striped table-hover table-bordered">
        <tbody>
          <tr>
            <th>Naziv</th>
            <td>{{aviokompanija.naziv}}</td>
          </tr>
          <tr>
            <th>Adresa</th>
            <td>{{aviokompanija.adresa}}</td>
          </tr>
          <tr>
            <th>Promotivni opis</th>
            <td>{{aviokompanija.promotivniOpis}}</td>
          </tr>
          <tr>
            <th>Destinacija</th>
            <td>{{aviokompanija.destinacije}}</td>
          </tr>
          <tr>
            <th>Letovi</th>
            <td>{{aviokompanija.letovi}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-6">
      <table class="table table-striped table-hover table-bordered">
        <tbody>
          <tr>
            <th>Spisak karata sa popustima</th>
            <td>{{aviokompanija.spisakKarata}}</td>
          </tr>
          <tr>
            <th>Konfiguracija segmenata i mesta</th>
            <td>{{aviokompanija.konfiguracija}}</td>
          </tr>
          <tr>
            <th>Cenovnik</th>
            <td>{{aviokompanija.cenovnik}}</td>
          </tr>
          <tr>
            <th>Prtljag</th>
            <td>{{aviokompanija.prtljag}}</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>

  <br>

  <button type="button" class="btn btn-dark" (click)="back()">Nazad</button>

</div>