<br>
<h4>Aviokompanija</h4>
<br>
<div class="container-fluid">

  <div class="row">

    <div class="col-6">
      <table class="table table-striped table-bordered table-light">
        <tbody>
          <tr>
            <th>Naziv:</th>
            <td>
              <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="aviokompanija.naziv" name="naziv"
                  placeholder="{{aviokompanija.naziv}}">
              </div>
            </td>
          </tr>
          <tr>
            <th>Adresa:</th>
            <td>
              <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="aviokompanija.adresa" name="adresa"
                  placeholder="{{aviokompanija.adresa}}">
              </div>
            </td>
          </tr>
          <tr>
            <th>Opis:</th>
            <td>
              <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="aviokompanija.promotivniOpis" name="promotivniOpis"
                  placeholder="{{aviokompanija.promotivniOpis}}">
              </div>
            </td>
          </tr>
          <tr>
            <th>Destinacije:</th>
            <td>
              <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="aviokompanija.destinacije" name="destinacije"
                  placeholder="{{aviokompanija.destinacije}}">
              </div>
            </td>
          </tr>
          <tr>
              <th>Letovi:</th>
              <td>
                <div class="form-group">
                  <input class="form-control" type="text">
                </div>
              </td>
            </tr>
        </tbody>
      </table>
    </div>


    <div class="col-6">
      <table class="table table-striped table-bordered table-light">
        <tbody>
          <tr>
            <th>Spisak karata sa popustima:</th>
            <td>
              <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="aviokompanija.spisakKarata" name="spisakKarata"
                  placeholder="{{aviokompanija.spisakKarata}}">
              </div>
            </td>
          </tr>
          <tr>
            <th>Konfiguracija segmenata i mesta:</th>
            <td>
              <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="aviokompanija.konfiguracija" name="konfiguracija"
                  placeholder="{{aviokompanija.konfiguracija}}">
              </div>
            </td>
          </tr>
          <tr>
            <th>Cenovnik:</th>
            <td>
              <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="aviokompanija.cenovnik" name="cenovnik"
                  placeholder="{{aviokompanija.cenovnik}}">
              </div>
            </td>
          </tr>
          <tr>
            <th>Prtljag:</th>
            <td>
              <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="aviokompanija.prtljag" name="prtljag"
                  placeholder="{{aviokompanija.prtljag}}">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>
<button type="button" class="btn btn-danger" (click)="save()">Sacuvaj izmene</button>