<!--<div class="main-content">
  <div class="container-fluid">
      <div id="card" class="card">

          <div class="card-body">
        
            <br>
        
            <form>
              <p id="bold">Prijava:</p>
              <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="korisnik.username" name="username"
                  placeholder="Korisnicko ime">
              </div>
              <div class="form-group">
                <input class="form-control" type="password" [(ngModel)]="korisnik.password" name="password"
                  placeholder="Lozinka">
              </div>
            </form>
        
            <br>

            <button type="button" class="btn btn-danger" (click)="login()">Prijava</button>

  <br>
  <br>

  <p> Niste registrovani?
    <a [routerLink]="['/registracija']"> Registracija </a>
  </p>
        
        
          </div>
        
        </div>
  </div>
</div>-->


<!--<div class="container-fluid">

  <br>
  
  <h4>Dobro dosli!</h4>
  
  <br>
  
  <table class="table table-striped table-hover">
      <tbody>
          <tr>
              <th>Korisnicko ime:</th>
              <td>{{korisnik.username}}</td>
          </tr>
          <tr>
              <th>Lozinka:</th>
              <td>{{korisnik.password}}</td>
          </tr>
          <tr>
              <th>Ime:</th>
              <td>{{korisnik.ime}}</td>
          </tr>
          <tr>
              <th>Prezime:</th>
              <td>{{korisnik.prezime}}</td>
          </tr>
          <tr>
              <th>Grad:</th>
              <td>{{korisnik.grad}}</td>
          </tr>
          <tr>
              <th>Broj telefona:</th>
              <td>{{korisnik.brojTelefona}}</td>
          </tr>
      </tbody>
  </table>
  
  <br>
  
  <button type="button" class="btn btn-dark" (click)="edit()">Uredi profil</button>
  
  </div>-->


  <div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h2 class="title">Ret a car servisi</h2>
                        <p class="category">Ret a car servisi opis</p>

                    </div>
                    <div class="content">
                          <img src="/assets/img/c.jpg" class="img-fluid "/>  
                    </div>
                </div>
            </div>
            <!--<div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="assets/img/faces/face-3.jpg" alt="..."/>

                                <h4 class="title">Mike Andrew<br />
                                    <small>michael24</small>
                                </h4>
                            </a>
                        </div>
                        <p class="description text-center"> "Lamborghini Mercy <br>
                            Your chick she so thirsty <br>
                            I'm in that two seat Lambo"
                        </p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>


