<div class="container-fluid">

  <br>

  <div class="row">

    <div class="col-6">

      <table class="table table-striped table-bordered table-light table-hover">
        <tbody>
          <tr>
            <th>Mesto poletanja</th>
            <td>
              <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="l.mestoPoletanja" name="mestoPoletanja"
                  placeholder="{{l.mestoPoletanja}}">
              </div>
            </td>
          </tr>
          <tr>
            <th>Datum poletanja</th>
            <td>
              <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="l.datumPoletanja" name="datumPoletanja"
                  placeholder="{{l.datumPoletanja}}">
              </div>
            </td>
          </tr>
          <tr>
            <th>Vreme poletanja</th>
            <td>
              <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="l.vremePoletanja" name="vremePoletanja"
                  placeholder="{{l.vremePoletanja}}">
              </div>
            </td>
          </tr>
          <tr>
            <th>Mesto sletanja</th>
            <td>
              <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="l.mestoSletanja" name="mestoSletanja"
                  placeholder="{{l.mestoSletanja}}">
              </div>
            </td>
          </tr>
          <tr>
            <th>Datum sletanja</th>
            <td>
              <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="l.datumSletanja" name="datumSletanja"
                  placeholder="{{l.datumSletanja}}">
              </div>
            </td>
          </tr>
          <tr>
            <th>Vreme sletanja</th>
            <td>
              <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="l.vremeSletanja" name="vremeSletanja"
                  placeholder="{{l.vremeSletanja}}">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-6">
      <table class="table table-striped table-bordered table-light table-hover">
        <tbody>
          <tr>
            <th>Vreme putovanja</th>
            <td>
              <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="l.vremePutovanja" name="vremePutovanja"
                  placeholder="{{l.vremePutovanja}}">
              </div>
            </td>
          </tr>
          <tr>
            <th>Duzina putovanja</th>
            <td>
              <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="l.duzinaPutovanja" name="duzinaPutovanja"
                  placeholder="{{l.duzinaPutovanja}}">
              </div>
            </td>
          </tr>
          <tr>
            <th>Broj presedanja</th>
            <td>
              <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="l.brojPresedanja" name="brojPresedanja"
                  placeholder="{{l.brojPresedanja}}">
              </div>
            </td>
          </tr>
          <tr>
            <th>Lokacije presedanja</th>
            <td>
              <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="l.lokacijePresedanja" name="lokacijePresedanja"
                  placeholder="{{l.lokacijePresedanja}}">
              </div>
            </td>
          </tr>
          <tr>
            <th>Cena karte</th>
            <td>
              <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="l.cenaKarte" name="cenaKarte"
                  placeholder="{{l.cenaKarte}}">
              </div>
            </td>
          </tr>
          <tr>
            <th>Aviokompanija</th>
            <td>
              <div class="form-group">
                <input class="form-control" type="text" [(ngModel)]="l.aviokompanija" name="aviokompanija"
                  placeholder="{{l.aviokompanija}}">
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
    
  </div>

  <button type="button" class="btn btn-dark" (click)="save()">Sacuvaj</button>

</div>