<div class="container-fluid">

<br>

<table class="table table-striped table-hover">
    <tbody>
        <tr>
            <th>Korisnicko ime:</th>
            <td>
                <div class="form-group">
                    <input class="form-control" type="text" [(ngModel)]="korisnik.username" name="username"
                        placeholder="{{korisnik.username}}">
                </div>
            </td>
        </tr>
        <tr>
            <th>Lozinka:</th>
            <td>
                <div class="form-group">
                    <input class="form-control" type="text" [(ngModel)]="korisnik.password" name="password"
                        placeholder="{{korisnik.password}}">
                </div>
            </td>
        </tr>
        <tr>
            <th>Ime:</th>
            <td>
                <div class="form-group">
                    <input class="form-control" type="text" [(ngModel)]="korisnik.ime" name="ime"
                        placeholder="{{korisnik.ime}}">
                </div>
            </td>
        </tr>
        <tr>
            <th>Prezime:</th>
            <td>
                <div class="form-group">
                    <input class="form-control" type="text" [(ngModel)]="korisnik.prezime" name="prezime"
                        placeholder="{{korisnik.prezime}}">
                </div>
            </td>
        </tr>
        <tr>
            <th>Grad:</th>
            <td>
                <div class="form-group">
                    <input class="form-control" type="text" [(ngModel)]="korisnik.grad" name="grad"
                        placeholder="{{korisnik.grad}}">
                </div>
            </td>
        </tr>
        <tr>
            <th>Broj telefona:</th>
            <td>
                <div class="form-group">
                    <input class="form-control" type="text" [(ngModel)]="korisnik.brojTelefona" name="brojTelefona"
                        placeholder="{{korisnik.brojTelefona}}">
                </div>
            </td>
        </tr>
    </tbody>
</table>

<br>

<button type="button" class="btn btn-dark" (click)="save()">Sacuvaj izmene</button>

</div>