<div class="container-fluid">

    <br>
  
    <h4>Aviokompanije</h4>
  
    <br>
  
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
        <th>Naziv</th>
        <th>Operacije</th>
      </thead>
      <tbody>
        <tr *ngFor="let aviokompanija of aviokompanije">
          <td>{{aviokompanija.naziv}}</td>
          <td>
            <button class="btn btn-secondary" (click)="display(aviokompanija)">Prikazi</button>
          </td>
        </tr>
      </tbody>
    </table>
  
  </div>