<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Atina</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Od</label>
                                        <input type="text" class="form-control" placeholder="Mesto poletanja" [(ngModel)]="korisnik.username" name="username">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Do</label>
                                        <input type="text" class="form-control" placeholder="Mesto sletanja" [(ngModel)]="korisnik.username" name="username">
                                    </div>     
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Sifra</label>
                                        <input type="password" class="form-control" placeholder="Sifra" [(ngModel)]="korisnik.password" name="password">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                              <div class="col-md-8">
                                <button type="submit" class="btn btn-info btn-fill pull-right">Prijava</button>
                                <div class="clearfix"></div>
                              </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


