<br>
<p id="welcome">Dobro dosli</p>
<br>
<table class="table table-striped">
    <tbody>
        <tr>
            <th>Korisnicko ime:</th>
            <td>{{korisnik.username}}</td>
        </tr>
        <tr>
            <th>Lozinka:</th>
            <td>{{korisnik.password}}</td>
        </tr>
        <tr>
            <th>Ime:</th>
            <td>{{korisnik.ime}}</td>
        </tr>
        <tr>
            <th>Prezime:</th>
            <td>{{korisnik.prezime}}</td>
        </tr>
        <tr>
            <th>Grad:</th>
            <td>{{korisnik.grad}}</td>
        </tr>
        <tr>
            <th>Broj telefona:</th>
            <td>{{korisnik.brojTelefona}}</td>
        </tr>
    </tbody>
    <br>
    <button type="button" class="btn btn-danger" (click)="edit()">Uredi profil</button>