<div class="main-content">
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-12">

                <div class="card">
                    <div class="header">
                        <h4 class="title">Aviokompanija 1</h4>
                        <p class="category">Aviokompanija 1 opis</p>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Mesto poletanja</label>
                                        <input type="text" class="form-control" placeholder="Mesto poletanja"
                                            [(ngModel)]="leet.mestoPoletanja" name="mestoPoletanja">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Mesto sletanja</label>
                                        <input type="text" class="form-control" placeholder="Mesto sletanja"
                                            [(ngModel)]="leet.mestoSletanja" name="mestoSletanja">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Datum poletanja</label>
                                        <input type="text" class="form-control" placeholder="Datum poletanja"
                                            [(ngModel)]="leet.datumPoletanja" name="datumPoletanja">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Datum sletanja</label>
                                        <input type="text" class="form-control" placeholder="Datum sletanja"
                                            [(ngModel)]="leet.datumSletanja" name="datumSletanja">
                                    </div>
                                </div>

                            </div>

                        </form>

                        <div class="row">
                            <div class="col-md-8">
                                <button class="btn btn-dark pull-right" type="button" data-toggle="collapse"
                                    data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
                                    (click)="jos()">
                                    Jos
                                </button>
                            </div>
                        </div>

                        <div class="main-content">
                            <div class="container-fluid">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="collapse" id="collapseExample">
                                                <div class="content table-responsive table-full-width">
                                                    <!--<form>
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <div class="form-group">
                                                                    <label>Korisnicko ime</label>
                                                                    <input type="text" class="form-control" placeholder="Korisnicko ime" [(ngModel)]="korisnik.username" name="username">
                                                                </div>
                                                            </div>
                                                        </div>
                                
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <div class="form-group">
                                                                    <label>Sifra</label>
                                                                    <input type="password" class="form-control" placeholder="Sifra" [(ngModel)]="korisnik.password" name="password">
                                                                </div>
                                                            </div>
                                                        </div>
                                
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                            <button type="submit" class="btn btn-info btn-fill pull-right">Prijava</button>
                                                            <div class="clearfix"></div>
                                                            </div>
                                                        </div>
                                
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                <p> Niste registrovani?
                                                                    <a [routerLink]="['/registracija']"> Registracija </a>
                                                                </p>
                                                            </div>
                                                            </div>
                                
                                                    </form>-->

                                                    <form>
                                                        <div class="row">
                                                            <!--<div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label>Mesto poletanja</label>
                                                                    <input type="text" class="form-control"
                                                                        placeholder="Mesto poletanja"
                                                                        [(ngModel)]="leet.mestoPoletanja"
                                                                        name="mestoPoletanja">
                                                                </div>
                                                            </div>-->
                                                            <div class="col-md-3">

                                                                <div class="dropdown">
                                                                    <button class="btn btn-secondary dropdown-toggle"
                                                                        data-toggle="dropdown">
                                                                        Tip putovanja
                                                                    </button>
                                                                    <ul class="dropdown-menu">
                                                                        <li><button type="button"
                                                                                class="btn btn-block">One-way</button>
                                                                        </li>
                                                                        <li><button type="button"
                                                                                class="btn btn-block">Round-trip</button>
                                                                        </li>
                                                                        <li><button type="button"
                                                                                class="btn btn-block">Multy-city</button>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label>Broj osoba</label>
                                                                    <input type="text" class="form-control"
                                                                        placeholder="Broj osoba">
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="col-md-3">
                                                            <div class="dropdown">
                                                                <button class="btn btn-secondary dropdown-toggle"
                                                                    data-toggle="dropdown">
                                                                    Klasa
                                                                </button>
                                                                <ul class="dropdown-menu">
                                                                    <li><button type="button"
                                                                            class="btn btn-block">Economy</button></li>
                                                                    <li><button type="button"
                                                                            class="btn btn-block">Business</button>
                                                                    </li>
                                                                    <li><button type="button"
                                                                            class="btn btn-block">First</button>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            </div>


                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label>Kolicina prtljaga</label>
                                                                    <input type="text" class="form-control"
                                                                        placeholder="Kolicina prtljaga"
                                                                        >
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </form>

                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <!--<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                                                Link with href
                                                            </a>-->
                                                            <button class="btn btn-dark pull-right" type="button"
                                                                (click)="rez()">
                                                                Potvrdi odabir
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h5 class="title">Letovi</h5>
                                    <p class="category">Letovi opis</p>
                                </div>
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover table-striped w-auto">
                                        <thead>
                                            <tr>
                                                <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!--<tr *ngFor="let row of tableData1.dataRows">
                                                <td *ngFor="let cell of row">{{cell}}</td>
                                            </tr>-->
                                            <tr
                                                *ngFor="let l of letovi | filter:leet.mestoPoletanja | filter:leet.mestoSletanja | filter:leet.datumSletanja | filter:leet.datumSletanja">
                                                <!--<div class="row">
                                                <div class="col-md-12">-->

                                                <td>{{l.mestoPoletanja}}</td>
                                                <td>{{l.mestoSletanja}}</td>
                                                <td>{{l.datumPoletanja}}</td>
                                                <td>{{l.datumSletanja}}</td>
                                                <!--</div>
                                                </div>
                                                <div class="row">
                                                <div class="col-md-12">-->
                                                <td>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <button class="btn btn-dark"
                                                                (click)="display(l)">Prikazi</button>
                                                        </div>
                                                        <!--<br>
                                                        <div class="col-md-4">
                                                            <button class="btn btn-danger"
                                                                (click)="r(l)">Rezervisi</button>
                                                        </div>
                                                        <br>
                                                        <div class="col-md-4">
                                                            <button class="btn btn-light">Oceni</button>
                                                        </div>-->
                                                    </div>
                                                </td>
                                                <!--</div>
                                                </div>-->
                                            </tr>
                                        </tbody>
                                        
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>