<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Izaberi opciju</h4>
          </div>
          <div class="content">

            <div class="main-content">
              <div class="container-fluid">
                <div class="row">

                  <div class="col-md-6">
                    <div class="card">
                      <div class="content">
                          <button class="btn btn-dark" (click)="a()">Aviokompanije</button>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                      <div class="card">
                        <div class="content">
                            <button class="btn btn-dark" (click)="l()">Letovi</button>
                        </div>
                      </div>
                    </div>
  

                </div>
              </div>
            </div>

            <div class="main-content">
                <div class="container-fluid">
                  <div class="row">
  
                    <div class="col-md-6">
                      <div class="card">
                        <div class="content">
                            <button class="btn btn-dark">Ocene</button>
                        </div>
                      </div>
                    </div>
  
                    <div class="col-md-6">
                        <div class="card">
                          <div class="content">
                              <button class="btn btn-dark">Izvestaji</button>
                          </div>
                        </div>
                      </div>
    
  
                  </div>
                </div>
              </div>
  

          </div>
        </div>
      </div>
    </div>
  </div>
</div>