
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12 mb-3">
              <div class="card">
                  <div class="header">
                      <h4 class="title">Destinacije</h4>
                      <p class="category">Destinacije opis</p>
                  </div>

                  <div class="main-content" >
                    <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <div class="card">
                        <div class="header">
                          <h4 class="title">Atina</h4>
                          <a href="/atina">                          
                          <img src="/assets/img/a.jpg" class="img-fluid "/>
                        </a>
                      </div>
                      </div>
                    </div>
                    

                    <div class="col-md-6 mb-3">
                        <div class="card">
                        <div class="header">
                          <h4 class="title">Rim</h4>
                          <a href="/rim">                          
                            <img src="/assets/img/r.jpg" class="img-fluid"/>
                          </a>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>





                  </div>
              </div>
          </div>
      </div>
  </div>
